.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #F1F5F9;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-padding: 5px 0px;
}

.table-view .column-header-background .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #475569;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.table-view .table-cell {
    -fx-padding: 10px 5px;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #F1F5F9;
    -fx-border-width: 0 0 1 0;
    -fx-cell-size: 40px;
}

.table-row-cell:selected {
    -fx-background-color: #DBEAFE;
    -fx-text-fill: #132f8c;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #CBD5E1;
    -fx-background-radius: 5em;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #94A3B8;
}

/* style d'alternance de couleur pour les lignes */
.table-row-cell:odd {
    -fx-background-color: #FAFAFA;
}

/* animation pour les boutons */
.button {
    -fx-cursor: hand;
}